
<%-include("./partials/header.ejs")%>
<%-include("./partials/navbar.ejs")%>
    <div class="container">
        <div class="row mt-5" >
            <h1>Home Page</h1>

            <hr>
            <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint vero, commodi quam, earum veniam nisi corporis nam, voluptatem soluta libero eos necessitatibus nobis magni unde vel reprehenderit non quibusdam maxime.</P>
        </div>

    </div>

<%-include("./partials/footer.ejs")%>
