<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1 style="color: chartreuse;">Helo come to frofile age</h1>
    <h2>welcome,<%= user.name%></h2>
    <h2>welcome,<%= user.email%></h2>
    <h2>welcome,<%= user.country%></h2>
</body>
</html>